/*
body {
  font-family: "Rubik", sans-serif;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: ;
}
*/

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
